#log4j.rootLogger=DEBUG, stdout, R
log4j.category.ch.ethz.vizzly=INFO, stdout, R1
log4j.category.org.eclipse=INFO, stdout, R2

log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
log4j.appender.stdout.layout.ConversionPattern=%-4r [%t] %-5p %c %x - %m%n

log4j.appender.R1=org.apache.log4j.RollingFileAppender
log4j.appender.R1.File=logs/vizzly.log
log4j.appender.R1.MaxFileSize=100MB
log4j.appender.R1.MaxBackupIndex=100
log4j.appender.R1.layout=org.apache.log4j.PatternLayout
log4j.appender.R1.layout.ConversionPattern=%d{dd MMM yyyy HH:mm:ss} %-5p %c %x - %m%n
#log4j.appender.R.layout.ConversionPattern=%p %t %c - %m%n

log4j.appender.R2=org.apache.log4j.RollingFileAppender
log4j.appender.R2.File=logs/jetty.log
log4j.appender.R2.MaxFileSize=100MB
log4j.appender.R2.MaxBackupIndex=100
log4j.appender.R2.layout=org.apache.log4j.PatternLayout
log4j.appender.R2.layout.ConversionPattern=%d{dd MMM yyyy HH:mm:ss} %-5p %c %x - %m%n

log4j.appender.F=org.apache.log4j.FileAppender
log4j.appender.F.File=logs/sensorviz.log
log4j.appender.F.layout=org.apache.log4j.PatternLayout
log4j.appender.F.layout.ConversionPattern=%d{dd MMM yyyy HH:mm:ss} %-4r [%t] %-5p %c %x - %m%n

